<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="hansKindberg.web" type="HansKindberg.Web.Configuration.WebSectionGroup, HansKindberg.Web">
            <section name="htmlTransformers" type="HansKindberg.Web.Configuration.HtmlTransformersSection, HansKindberg.Web" />
        </sectionGroup>
    </configSections>
    <location path=".">
        <hansKindberg.web>
            <htmlTransformers>
                <add name="One" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
                <add name="Two" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
                <add name="Three" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
				<add name="Four" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
				<add name="Five" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            </htmlTransformers>
        </hansKindberg.web>
    </location>
	<location path="FiveItemsUsingAddAndRemove">
		<hansKindberg.web>
			<htmlTransformers>
				<remove name="Four" />
				<remove name="Five" />
				<add name="Six" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
				<add name="Seven" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
			</htmlTransformers>
		</hansKindberg.web>
	</location>
	<location path="NoItemsUsingClear">
		<hansKindberg.web>
			<htmlTransformers>
				<clear />
			</htmlTransformers>
		</hansKindberg.web>
	</location>
    <location path="ThreeItemsUsingRemove">
        <hansKindberg.web>
            <htmlTransformers>
                <remove name="Four" />
                <remove name="Five" />
            </htmlTransformers>
        </hansKindberg.web>
    </location>
    <location path="ThreeItemsUsingRemove/TwoItemsUsingAddAndRemove">
        <hansKindberg.web>
            <htmlTransformers>
                <remove name="One" />
				<remove name="Two" />
				<remove name="Three" />
                <add name="Four" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
				<add name="Five" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            </htmlTransformers>
        </hansKindberg.web>
    </location>
	<location path="ThreeItemsUsingRemove/TwoItemsUsingAddAndRemove/NoItemsUsingRemove">
		<hansKindberg.web>
			<htmlTransformers>
				<remove name="Four" />
				<remove name="Five" />
			</htmlTransformers>
		</hansKindberg.web>
	</location>
</configuration>