<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="hansKindberg.web" type="HansKindberg.Web.Configuration.WebSectionGroup, HansKindberg.Web">
            <section name="htmlTransformers" type="HansKindberg.Web.Configuration.HtmlTransformersSection, HansKindberg.Web" />
        </sectionGroup>
    </configSections>
    <hansKindberg.web>
        <htmlTransformers>
            <add name="test" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            <add name="Test" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            <add name="TeSt" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            <add name="Test" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            <add name="TEsT" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            <add name="Test" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
            <add name="TEST" type="HansKindberg.Web.IntegrationTests.Configuration.Mocks.HtmlTransformer, HansKindberg.Web.IntegrationTests" />
        </htmlTransformers>
    </hansKindberg.web>
</configuration>