<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="hansKindberg.web" type="HansKindberg.Web.Configuration.WebSectionGroup, HansKindberg.Web">
            <section name="htmlTransformers" type="HansKindberg.Web.Configuration.HtmlTransformersSection, HansKindberg.Web" />
        </sectionGroup>
    </configSections>
</configuration>