<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HansKindberg.Web.Simulation" version="1.0.0-alpha-0" targetFramework="net35" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net35" />
  <package id="Moq" version="4.0.10827" targetFramework="net35" />
  <package id="System.IO.Abstractions" version="1.4.0.64" targetFramework="net35" />
</packages>